<ion-view view-title="About">
	<ion-content class="has-header">
		<div class="list">
			<div class="item item-avatar">
				<img src="img/logo.png">
				<h2>Pohaindorinakeen</h2>
				<p>March 01, 2016</p>
			  </div>

			  <div class="item item-body">
				<img class="full-image" src="img/about.png">
				<p>
				  Pohaindorinamkeen, just like most of you, does not like long distance relationships and that's why we bring your long distance relationship with delicious food to an end by delivering your favourite food and drinks at your doorstep, as fast as possible (AFAP), thanks to our revolutionary logistics technology which is best in class. Hurray .
				</p>
				<p>	We have a handpicked rotating menu selected by passionate foodies that enables you to choose from the bestest and yummilicious food and drinks in town by ease of a few clicks, 24 hours a day, 7 days a week and 365 days a year, in case of a leap year we may take a day off. Guess what, to make your ordering experience more exciting and rewarding, we often give discounts and might surprise you sometimes with exciting gifts.</p>
				<p>So sit back and relax because from now on awesome food and drinks will be delivered amazingly!</p>
			</div>
		</div>
	</ion-content>
</ion-view>