<ion-view view-title="Product List">
	<ion-content class="has-header">
		<div class="product-list">	
        	<!--if there is product list-->	
			<div class="row flex-wrap" ng-if="response != 'no'">
				<div class="col col-50" ng-repeat="item in response">
					<div class="list card">
  						<div class="item item-body">
  
   							<div class="relative-box">
    							<img class="full-image" src="{{ item.p_image_url }}">	
								<div class="price-box">{{ item.p_price }}</div>
							</div>
	
    						<h4>{{ item.p_name }}</h4>
    						<p>
  							<a ui-sref="detail({product_id:item.p_id})"><button class="button button-full button-assertive"> Detail  </button>					</a>
    						</p>
  						</div>
					</div>
				</div>
                
          </div>
          <!--if there is no product-->
          <div class="item item-text-wrap" ng-if="response == 'no'">
            <a class="item item-icon-left dark" href="#">
                <i class="icon ion-bag"></i>
                    There is no product list
                </a>
          </div>
      </div>	
  </ion-content>
</ion-view>	
