<!--
  This template loads for the 'detail' state (app.js)
  'product' is a $scope variable from DetailCtrl
-->
<ion-view view-title="Product detail">
  <ion-content class="product-detail main-bg-color">
	<div class="box">
      <img class="full-image" src="{{ p_image }}" alt=""/>
    </div>
    <!-- Slider using slide box -->
    <!--<ion-slide-box class="full-image" auto-play="true">

     <ion-slide ng-repeat="image in response">
        <div class="box">
          <img class="full-image" src="{{ image.p_image_url }}" alt=""/>
        </div>
      </ion-slide>

    </ion-slide-box>-->

    <!--Product title-->
    <div class="text-center">
      <h3 class="positive">{{ p_name }}</h3>
      <p>
        <span class="stable">
          {{ p_name }}
        </span>
        <span class="price stable" ng-if="!product.sale_price">{{ p_price }}</span>
        <span class="price stable" ng-if="product.sale_price">{{ p_sale_price}}</span>
        <span class="old-price" ng-if="product.sale_price">{{ p_price }}</span>
      </p>
    </div>

    <!-- Description -->
    <div class="linediv-l"></div>
    <div class="padding">
      <h4 class="positive" ng-show="p_name.length > 0">Description</h4>
      <div class="stable">
        {{ p_description }}
      </div>
    </div>

    <!-- Add to cart - button-->
    <!--<div class="padding">
      <button class="button button-block button-positive" ui-sref="cart">
        Add to cart
      </button>
    </div>-->
    <ngcart-addtocart ng-show="p_name.length > 0" id="{{p_id }}" name="{{ p_name }}" price="{{ p_price }}" quantity="1" quantity-max="5"> 
		Add to cart<i class="icon ion-ios-paperplane"></i>
    </ngcart-addtocart>
    

    <!-- Choose product option -->
    <!--<h4 class="positive padding-left">Color</h4>
    <div class="row">
      <a class="col {{color}}-bg item-option" ng-repeat="color in product.colors">
      </a>
    </div>

    <h4 class="positive padding-left">Size</h4>
    <div class="row padding-bottom">
      <a class="col item-option item-size text-center stable" ng-repeat="size in product.sizes">
        {{ size }}
      </a>
    </div>-->

    <!-- Item -->
    <div class="item-divider padding dark-bg stable" ng-show="p_name.length > 0">Reviews</div>
    <div class="list">
      <div class="item item-avatar no-bg no-border stable" ng-repeat="review in product.reviews">
        <img src="{{ review.avatar }}" alt=""/>
        <h2 class="stable">{{ review.name }}</h2>
        <p>{{ review.content }}</p>
        <p>
          <i class="ion-android-star" ng-repeat="start in range(review.stars) track by $index"></i>
          <i class="ion-android-star-outline" ng-repeat="start in range(5 - review.stars) track by $index"></i>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>

