<ion-view view-title="DRIVER SIGNIN" class="main-bg-color">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center" style="padding-top:75px;">
      
      <h2 class="energized">Driver Sign</h2>
      
    </div>

    <!-- Login form -->
    <div class="list padding  list-inset no-bg">
      <label class="item item-input dark-input">
        <input type="text" placeholder="Enter email" ng-model="user.username">
      </label>
      <label class="item item-input dark-input">
        <input type="password" placeholder="Enter Password"  ng-model="user.password">
      </label>
    </div>
    
    <div class="padding text-center">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Login
      </button>

    </div>

    <!-- Social login -->
    <!--<div class="padding text-center social-button">
      <span class="light">Or login with</span>

      <div class="row padding-top">
        <div class="col-33 text-center">
          <a href="#" class="circle-button facebook-color">
            <i class="ion-social-facebook"></i>
          </a>
        </div>
        <div class="col-33 text-center">
          <a href="#" class="circle-button twitter-color">
            <i class="ion-social-twitter"></i>
          </a>
        </div>
        <div class="col-33 text-center">
          <a href="#" class="circle-button googleplus-color">
            <i class="ion-social-googleplus"></i>
          </a>
        </div>
      </div>
    </div>-->

  </ion-content>
</ion-view>
