<ion-view view-title="Last orders">
	<ion-content class="has-header">
	
	  <div class="order-history">
		<div class="list">

            <a class="item"  href="#/event/product_detail">   
			   <div class="top-block"><h2>Pretty Hate Machine</h2><p class="time-d">1 day ago</p></div>
			  <p><span class="deliver-txt">Delivered </span></p>    
			  
			</a>
		  </div>
		  
		  <div class="list">

			<a class="item"  href="#/event/product_detail">   
			  <div class="top-block"><h2>Pretty Hate Machine</h2><p class="time-d">1 day ago</p></div>
			  <p><span class="deliver-txt">Delivered </span></p>  
			    
			  
			</a>
		  </div>
		  
		  <div class="list">

			<a class="item"  href="#/event/product_detail">   
			   <div class="top-block"><h2>Pretty Hate Machine</h2><p class="time-d">1 day ago</p></div>
			  <p><span class="process-txt">Processing</span></p>    
			  
			</a>
		  </div>
		  
		  <div class="list">

			<a class="item"  href="#/event/product_detail">   
			  <div class="top-block"><h2>Pretty Hate Machine</h2><p class="time-d">2m ago</p></div>
			  <p><span class="cancel-txt">Canceled</span></p>    
			  
			</a>
		  </div>
		  
		  
		  </div>
	</ion-content>
</ion-view>