<ion-view view-title="Login" hide-nav-bar="true" class="main-bg-color">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      <h1>
        <i class="energized ion-bag"></i>
      </h1>
      <h2 class="energized">Dark shop</h2>
      <p class="energized">Mobile E-commerce</p>
    </div>

    <!-- Signup form -->
    <div class="list list-inset no-bg">
      <label class="item item-input dark-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input dark-input">
        <input type="text" placeholder="Your name">
      </label>
      <label class="item item-input dark-input">
        <input type="password" placeholder="Password">
      </label>
    </div>

    <div class="padding text-center">
      <button class="button button-block button-positive" ui-sref="home">
        Create account
      </button>
      <a ui-sref="login" class="positive">Login</a>
    </div>

  </ion-content>
</ion-view>
