<ion-content class="has-header">
<ion-list class="list-inset" ng-show="ngCart.getTotalItems() === 0">   
    <div class="card">
        <div class="item item-text-wrap">
            <a class="item item-icon-left dark" href="#">
                <i class="icon ion-bag"></i>
                    Your Cart is empty
                </a>
        </div>
    </div>
</ion-list>
  <ion-list ng-show="ngCart.getTotalItems() > 0">
	
		<div class="item item-divider assertive">
			<i class="icon ion-clipboard"></i> List
		</div>
    	<ion-item class="item-remove-animate item-icon-right" ng-repeat="item in ngCart.getCart().items track by $index">
			
			<div class="subdued dark"> {{ item.getName() }} </div>
			{{ item.getPrice() |  currency  }}
			<div class="cartquantity">
			<span class="ion-ios-minus-outline" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
            <span class="ion-ios-plus-outline" ng-click="item.setQuantity(1, true)"></span>
			</div>
			
				<i class="icon ion-chevron-right icon-accessory"></i>
			
           <!-- {{ item.getTotal() |  currency : 'Rp' }} -->
		    <ion-option-button class="button-assertive" ng-click="ngCart.removeItemById(item.getId())">
				<span class="icon ion-trash-a"></span> 
			</ion-option-button>
    </ion-item>

	<div class="list">
    <div class="item" ng-show="ngCart.getTax()">
     <div class="subdued">PPN ({{ ngCart.getTaxRate() }}%):</div>
	 {{ ngCart.getTax() |  currency  }}
    </div>
	<div class="item" ng-show="ngCart.getShipping()">
		<div class="subdued">Shipping:</div>
	 {{ ngCart.getShipping() |  currency  }}
	</div>
    <div class="item">
      Total  <div class="cartquantity"><b>{{ ngCart.totalCost() |  currency  }}</b></div>
    </div>
	
    </div>

	
	<ngcart-checkout  ng-click="checklogin()" service="http" settings="{ url:'#/app/checkout' }">Checkout</ngcart-checkout>
   
</ion-list>
	 <a class="bar bar-footer bar-assertive" ng-controller="CartCtrl" ng-click="checklogin()" ng-show="ngCart.getTotalItems()">
      <div class="title">
            Checkout
      </div>
	</a>
</ion-content>



