<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"  content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>Side Menus</title>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
	<script src="js/jquery-2.1.1.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/angular-ios9-uiwebview.patch.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
<body class="platform-ios" ng-controller="MainCtrl">
<ion-nav-view></ion-nav-view>
<script id="templates/event-menu.html" type="text/ng-template">
  <ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
	  <ion-nav-bar class="header-bar">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
		  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		  </button>
		</ion-nav-buttons>
	  </ion-nav-bar>

	  <ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content> 

	<ion-side-menu side="left">
	  
	  <ion-content class="listsidemenu">
		<ul class="list">
		 <div class="text-center padding" style="width:100% !important; background-color: #74712C !important">
		  	<img src="images/logo.png" height="75px" width="150px;" style="margin-bottom:20px;"><br>
        	706-972-1884<br>
        	www.EllijayTrolley.com
		</div>
		  <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
		  <a href="#/event/schedule" class="item itemsidemenu item-icon-left" menu-close>SCHEDULE</a>
		  <a href="#/event/driver" class="item itemsidemenu item-icon-left" menu-close>DRIVER SIGNIN</a>
		  <a ng-controller="WebCtrl" ng-click="showwebsitelink('http://www.ellijaytrolley.com/Purch
aseTickets')" class="item itemsidemenu item-icon-left" menu-close>TICKETING WEBSITE</a>
		  <a ng-controller="WebCtrl" ng-click="showwebsitelink('http://static1.squarespace.com/static/56990ed9fb36b1a2d2c68757/t/575a3b458259b54fad3324b9/1465531234837/TrolleyDepot-Stops-Flyer-Final.pdf')" class="item itemsidemenu item-icon-left" menu-close>BROCHURE</a>
		  <a ng-controller="WebCtrl" ng-click="showwebsitelink('http://www.ellijaytrolley.com/vineyardtours')" class="item item-icon-left itemsidemenu" menu-close>VINEYARD TOURS</a>
		  <a  ng-controller="WebCtrl" ng-click="showwebsitelink('http://www.ellijaytrolley.com/contact/')" class="item item-icon-left itemsidemenu" menu-close>CONTACT US</a>
		</ul>
	  </ion-content>
	</ion-side-menu>

  </ion-side-menus>
</script>

<script id="templates/home.html" type="text/ng-template">
  <ion-view view-title="Welcome">
	<ion-content class="padding">
	  <p>Swipe to the right to reveal the left menu.</p>
	  <p>(On desktop click and drag from left to right)</p>
	</ion-content>
  </ion-view>
</script>

<script id="templates/check-in.html" type="text/ng-template">
  <ion-view view-title="Home">
	<ion-content>
	  <map on-create="mapCreated(map)" style="height:100%"></map>
	</ion-content>
  </ion-view>
</script>

<script id="templates/driver.html" type="text/ng-template">
  <ion-view view-title="DRIVER SIGNIN">
	<ion-content>
	  <p class="text-center" style="margin-top:60px;">
	  	<h2 class="text-center">Driver Sign</h2>
	</p>
	<div class="list list-inset">
	  <label class="item item-input">
		<input type="text" placeholder="Enter Email" ng-model="user.email">
	  </label>
	  <label class="item item-input">
		<input type="text" placeholder="Enter Password" ng-model="user.password">
	  </label>
	</div>
    
    <div class="padding text-center">
      <button class="button button-block login-button" ng-click="login(user)">
        Login
      </button>

    </div>
	</ion-content>
  </ion-view>
</script>

<script id="templates/schedule.html" type="text/ng-template">
  <ion-view view-title="SCHEDULE">
	<ion-content>
	 	<ul class="itemlist">
             <a ui-sref="eventmenu.schedulelist({id:data.id,name:data.name})"  class="item itemlist item-icon-right"  ng-repeat="data in response">
				<li class="item-checkbox" style="padding-left:10px !important;">
					{{data.name}}
					<i class="icon ion-ios-arrow-right"></i>
				</li>
             </a>
        </ul>
    </ion-content>
  </ion-view>
</script>

<script id="templates/schedulelist.html" type="text/ng-template">
	<ion-view view-title="{{title}}" padding-vertical="10px" side="right">
		<ion-content class="has-header">
            <div class="card">
			  <div class="item item-text-wrap">
				{{content}}
			  </div>
			</div>
        </ion-content>
	</ion-view>
</script>

<script src="js/app.js"></script>
<script src="js/controller.js"></script>
</body>
</html>